body {
  height: 100vh;
  background-repeat: no-repeat;
  background: rgb(152,47,47);
  background: linear-gradient(0deg, rgba(152,47,47,1) 25%, rgba(213,76,76,1) 75%);
  background-attachment: fixed;
}

.header {
  font-family: 'Bangers', cursive;
  font-size: 110px;
  text-align: center;
}

.cardHeader {
  font-family: 'Bangers', cursive;
  font-size: 50px;
}

.cardImg {
  height: 10em;
  width: 10em;
}
.pokedex{
  background-color: grey;
  padding: 30px;
  border-radius: 10px;
}
.teamcard {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  font-family: 'Oswald', sans-serif;
}

.trainer {
  font-family: 'Bangers', cursive;
  font-size: 70px;
}

.trainerform {
  padding-bottom: 20px;
}

.type {
  background: aliceblue;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin: 5px;
  padding: 5px;
}

.typeHolder {
  margin-bottom: 10px;
}